.fail {
    background-color:red;
    color:white;
}
.pass {
    background-color: darkgreen;
    color:white;
}
tbody {
    border-radius:15px;
}
td {
    border: 1px solid #e9eaed;
}
table {
    max-height:40vh;
    overflow-y:auto;
}