<h3>Code Diagram</h3>
<div class="diagram-container">
    <CascadingValue Value="DiagramState">
        <CascadingValue Value="_diagram">
            <DiagramCanvas>
                @*<Widgets>
                    <NavigatorWidget Width="225" Height="150" DefaultStyle="true" FillColor="darkviolet"></NavigatorWidget>
                </Widgets>*@
            </DiagramCanvas>
        </CascadingValue>
    </CascadingValue>
</div>
@code {

}
