
<div class="zoom-to-fit">
    <button class="fit-btn" @onclick="ZoomToFit">Zoom to fit</button><br />
    @*<input type="checkbox" @bind="_isExpandMethods" /> Expand Methods On Select*@
</div>
<div class="diagram-container">
    <CascadingValue Value="DiagramState">
        <CascadingValue Value="_diagram">
            <DiagramCanvas>
                
            </DiagramCanvas>
        </CascadingValue>
    </CascadingValue>
</div>
@code {

}
