@using Blazor.Diagrams.Components.Renderers;
<div class="card @(Node.Selected ? "selected" : "")">
    <h6 class="text-center">@Node.SimpleSyntaxTree.Kind</h6>
    @if (!string.IsNullOrEmpty(Node.SimpleSyntaxTree.Name))
    {
        <div class="text-center">Name: @Node.SimpleSyntaxTree.Name</div>
    }
    @foreach (var port in Node.Ports)
    {
        <!-- Default ports -->
        <PortRenderer Port="port" />
    }

</div>