.card {
    border: 1px solid blue;
    border-radius: 15px;
    padding: 5px 10px;
    width: auto;
    min-width: 10rem;
    max-width: 18rem;
    font-family: Consolas, "Courier New", ui-monospace;
}

    .card.selected {
        border: 5px solid darkviolet;
    }

.expand {
    cursor: pointer;
    border: 3px solid green;
}
