
<div @ondblclick="SubmitCodeDefault"><MonacoEditor Id="main-editor" CssClass="my-editor" @ref="_editor" OnDidChangeCursorPosition="EditorDidChangeCursorPosition" ConstructionOptions="EditorOptionsRoslyn" OnDidInit="EditorOnDidInit" OnContextMenu="OnContextMenu" /></div>
@if (AppState.SyntaxTreeInfo != null || (AppState.SimpleSyntaxTrees != null && AppState.SimpleSyntaxTrees.Any()))
{
    <div class="nav-item px-3" style="font-size:110%">
        <NavLink class="nav-link" href="analyze">
            <span style="margin-bottom:-.9rem" class="analysis-icon" aria-hidden="true"></span> C# Syntax Analysis Available!
        </NavLink>
    </div>
}
