
<div @ondblclick="SubmitCodeDefault"><MonacoEditor Id="main-editor" CssClass="my-editor" @ref="_editor" OnDidChangeCursorPosition="EditorDidChangeCursorPosition" ConstructionOptions="EditorOptionsRoslyn" OnDidInit="EditorOnDidInit" OnContextMenu="OnContextMenu" /></div>