
::deep textarea {
    width: 100%;
    height: 8rem;
}

button[type=submit] {
    border-radius: 5px;
    background-color: darkviolet;
    padding: 2px 4px;
    color: white;
}

.form {
    height: auto;
    max-height: 38rem;
    min-width: 30rem;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

.prop-grid {
    display: grid;
    grid-template-columns: 300px 300px;
}
.helper {
    font-size: .8rem;
    color: darkgray;
    font-style: italic;
}
.card {
    border: 1px solid;
    border-radius: 5%;
    padding: 5px 10px;
    width: auto;
    min-width: 14rem;
    /*max-width: 18rem;*/
    font-family: Consolas, "Courier New", ui-monospace;
}

.card.selected {
    border: 5px solid darkviolet;
}

.card-body {
    font-size: 90%;
}

.card.class {
    border-color: darkviolet;
    box-shadow: 0px 0px 20px 0px darkviolet inset;
    color: darkviolet;
}

.card.namespace {
    border-color: #0000cc;
    box-shadow: 0px 0px 20px 0px #0000cc inset;
    color: #0000cc;
}

.card.method {
    border-color: darkgreen;
    box-shadow: 0px 0px 20px 0px darkgreen inset;
    color: darkgreen;
}

.card.property {
    border-color: #995400;
    box-shadow: 0px 0px 20px 0px #995400 inset;
    color: #995400;
}

.card.field {
    border-color: #372f6a;
    box-shadow: 0px 0px 20px 0px #372f6a inset;
    color: #372f6a;
}

.card.constructor {
    border-color: #b40bb7;
    box-shadow: 0px 0px 20px 0px #b40bb7 inset;
    color: #b40bb7
}

.card.global {
    border-color: #800000;
    box-shadow: 0px 0px 20px 0px #800000 inset;
    color: #800000;
}

.card.enum {
    border-color: deeppink;
    box-shadow: 0px 0px 20px 0px deeppink inset;
    color: deeppink;
}