.path-output {
    font-size:.9rem;
    display: flex;
    flex-direction: row;
    height:3rem;
    padding: 2px 4px;
    border:1px solid black;
    width:100%;
    
}
::deep input[type=text] {
    max-width:120px;
}
button[type=submit] {
    border-radius: 5px;
    background-color: darkviolet;
    padding: 2px 4px;
    color:white;
}
.form {
    height: auto;
    max-height: 20rem;
    min-width:18rem;
    background-color: white
}
.folder-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}