<div style="width: 18rem; height: 18rem; padding: 2rem;">
    <h4>Save Snippet</h4>
    <hr />
    <label>
        Name<br/>
        <input @bind-value="_name" @oninput="InputHandler"/>
    </label><br />
    @if (!string.IsNullOrWhiteSpace(_errorText))
    {
        <p style="color: red">@_errorText</p>
    }

    <label>
        Description<br/>
        <textarea @bind="@_description"></textarea>
    </label><br />
    <button @onclick="SaveSnippet">Save</button>
</div>


@code {
    [Parameter]
    public EventCallback<string> OnSave { get; set; }

    private string _description;
    private string _name;
    private string _errorText;

    private void SaveSnippet()
    {
        if (string.IsNullOrWhiteSpace(_name))
        {
            _errorText = "Name field is required";
            StateHasChanged();
            return;
        }
        var combinedValues = $"{_name}|{_description}";
        OnSave.InvokeAsync(combinedValues);
    }

    private void InputHandler(ChangeEventArgs args)
    {
        if (string.IsNullOrWhiteSpace(_errorText)) return;
        if (!string.IsNullOrWhiteSpace(_name))
            _errorText = string.Empty;
    }
}
