.editor-container {
    bottom:90%;
    left:100%;
    position: sticky;
    width:23rem;
    height:15rem;
}
::deep .editor {
    width:100%;
    height:100%;
}
.syntax-diagram {
    width:100%;
    min-height:20rem;
}
button {
    background-color: darkviolet;
    color: white;
    border-radius: 8px;
    padding: 1px 4px;
}
.hide {
    display:none;
}
.float-button {
    font-size: 70%;
    bottom: 94%;
    left: 100%;
    position: sticky;
    cursor:pointer;
}
.float-button:hover{
    color:blue;
}
button:hover {
    background-color: mediumvioletred;
}
.missing {
    font-size:1.15rem;
    color: darkred;
    font-weight:bold
}