@page "/practice"
<div class="menu-slider">
    <div class="menu @cssClass">
        <SampleMenu OnCloseMenu="CloseMenu"/>
    </div>
    <div class="console" @onmouseup="CloseMenu">
        <div>
            <Tooltip Text="Open Menu"><span style="margin-bottom: 0; left:0"><button @onclick="OpenMenu"><img height="24" width="24" src="icons/chevron-right-64.png" alt="menu icon" /></button></span></Tooltip>
            <CodeEditor />
        </div>
        <div>
            <Tooltip Text="Clear output window">
                <span style="margin-bottom: 0; left:0">
                    <button class="clear" @onclick="AppState.ClearOutput">
                        <img height="24" width="24" src="icons/delete-100.png" alt="clear output" />
                    </button>
                </span>
            </Tooltip><span style="margin-left: 30%; margin-bottom: 0; font-size:120%">Output window</span>
            <OutputWindow />
        </div>
        <div class="content">
            <label>
                <input type="checkbox" @bind="_showGithubForm" /> Get Code from public repo
            </label>
            <div class="form">

                @if (_showGithubForm)
                {
                    <GitHubForm />
                }

            </div>
        </div>
        <div class="content">
            <div class="text">@((MarkupString)AppState.Content)</div>
        </div>

    </div>
</div>