.console {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-column-gap: 6px;
    width: 100%;
    z-index: 1;
}

.menu-slider {
    position: relative;
    overflow: initial;
    width: 100%;
    height: 95vh;
}

.menu {
    position: absolute;
    background-color: white;
    height: 99vh;
    overflow-y: scroll;
    overflow-x: auto;
    z-index: 2;
}

.active {
    -webkit-animation: slide 1s;
    width: 350px;
    animation: slide 1s;
}

.inactive {
    left: -360px;
    width: 0;
    -webkit-animation: slide-out 1s;
    animation: slide-out 1s;
}

button {
    background-color: transparent;
    padding: 0;
    margin: 0;
}
.standard-btn {
    border-radius: 5px;
    background-color: darkviolet;
    padding: 2px 6px;
    margin:1px .5rem;
    color: white;
}
.content {
    font-family: ui-monospace;
    line-height: 1.2rem;
}

    .content p {
        margin-bottom: .3rem;
    }

    .content .text {
        margin-left: 5%;
        margin-right: 5%;
        width: 85%;
        padding: 3px 6px;
        box-shadow: -2px 2px 5px 2px gray,-5px 5px 10px 5px darkviolet;
    }
    .content .form {
        width: 92%;
        min-width:20rem;
        margin-left: 2%;
        margin-right: 2%;
        box-shadow: -2px 2px 5px 2px gray,-5px 5px 10px 5px darkviolet;
        padding: 4px 8px;
    }
@-webkit-keyframes slide {
    from {
        left: -360px;
        width: 0;
    }

    to {
        left: 0;
        width: 350px;
    }
}

@keyframes slide {
    from {
        left: -360px;
        width: 0;
    }

    to {
        left: 0;
        width: 350px;
    }
}

@-webkit-keyframes slide-out {
    from {
        left: 0;
        width: 350px;
    }

    to {
        left: -360px;
        width: 0;
    }
}

@keyframes slide-out {
    from {
        left: 0;
        width: 350px;
    }

    to {
        left: -360px;
        width: 0;
    }
}
