@page "/"
@inject AuthenticationStateProvider AuthenticationStateProvider
<div class="text-center">
    <AuthorizeView>
        <Authorized>
            <h6 class="text-center">Logged in as @context.User.Identity.Name</h6>
        </Authorized>
        <NotAuthorized>
            <a href="authentication/login">Log in</a>
        </NotAuthorized>
    </AuthorizeView><br />

    <hr />
    <div>
        <ul class="nav flex-column" style="font-family: ui-monospace; font-size:1.1rem">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="practice">
                    <span style="margin-bottom:-.9rem" class="practice-icon" aria-hidden="true"></span> C# Practice Module
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="challenges">
                    <span style="margin-bottom:-.9rem" class="challenge-icon" aria-hidden="true"></span> C# Challenges Module
                </NavLink>
            </li>
        </ul>
    </div>
</div>
