
@if (IsOpen)
{
    <div class="modal-overlay" @onclick=OutClick>
        <div style="width:@(ModalOptions.Width); height:@(ModalOptions.Height)" class="window @(Enum.GetName(ModalLocation)?.ToLower())" @onclick:stopPropagation>
            <button class="close" @onclick="CloseSelf"><span>&times;</span></button>
            <div class="text-center title">@ModalOptions?.Title</div>
            @if(ComponentType != null)
            {
                <DynamicComponent Type="ComponentType" Parameters="ModalParameters"></DynamicComponent>
            }
            
        </div>
    </div>
}
